_/
*~
\#*\#
.\#
*.swp
*.bak
/dist/*/*/*
!/dist/*/*/PKGBUILD
*.gz
*.xz
*.info
*.pdf
*.ps
*.dvi
*.pyc
__pycache__/
*.jar
*.class
bin/
*.o
*.out
*.so
*.gch
/ponypass.aux
/ponypass.cp
/ponypass.cps
/ponypass.fn
/ponypass.ky
/ponypass.log
/ponypass.pg
/ponypass.toc
/ponypass.tp
/ponypass.vr
/ponypass.op
/ponypass.ops
/ponypass.pgs
/ponypass.vrs
